fastapi==0.109.0
openai
python-multipart
asyncpg
python-jose[cryptography]
python-dotenv
pydantic==2.5.3
pydantic-settings==2.2.1
pydantic_core==2.14.6
typing_extensions
fastapi_sessions
langchain
openai
pyautogen
jupyterlab
pygithub
pydantic